img
{
    height: 300;
    width: 400;
}

h1
{
    color: red;
    
}


  .flex-container
{
    background: peachpuff;
    border: 4px solid brown;
    height: 100px;
    padding: 16px;
    max-width:300px;
    display:flex;
    flex-direction: column-reverse;
    justify-content: center;
    gap: 10px;
   
 }

 .item
 {
    border: 4px sandybrown;
    background: skyblue;
  }
